.summary-list-item-symbole {
  position: relative;
  width: 20px;
}

.summary-list-item-symbole:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  height: 8px;
  left: 50%;
  border-left: 2px solid currentcolor;
  transform: translate(-50%);
}

.summary-list-item:first-child .summary-list-item-symbole:before {
  border-color: transparent;
}

.summary-list-item-symbole-circle {
  position: relative;
  border: 1.5px solid currentcolor;
  border-radius: 3px;
  background: transparent;
  z-index: 1;
  width: 10px;
  height: 10px;
  margin: 8px auto;
}

.summary-list-item-symbole:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 18px;
  bottom: -8px;
  left: 50%;
  border-left: 2px solid currentcolor;
  transform: translate(-50%);
}

.summary-list-item:last-child .summary-list-item-symbole:after {
  bottom: 0;
}

.blog-filter-toolbar .btn {
  font-weight: normal;
}

.blog-filter-toolbar .btn.selected {
  font-weight: 700;
}
