main {
  overflow: clip;
}

.blog-summary-list {
  max-height: 100vh;
  position: sticky;
  overflow: auto;
  top: 0;
}

.summary-list-item {
  position: relative;
}

.summary-list-item:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 12px;
  border-left: 2px solid var(--edifice-secondary-300);
}

.summary-list-item:first-child:before {
  top: 8px;
}

.summary-list-item-date {
  padding-left: 26px;
}

.summary-list-item-title:before {
  content: " ";
  border: 1.5px solid var(--edifice-secondary-300);
  border-radius: 3px;
  background: var(--edifice-white);
  position: relative;
  z-index: 1;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 8px;
}

.blog-post-badge-highlight {
  border-color: var(--edifice-secondary-300) !important;
  border-width: 0.2rem;
}

.blog-post-badge {
  font-family: var(--edifice-body-font-family) !important;
  text-transform: none;
}

.blog-post-image {
  position: relative;
}

.blog-post-more-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.blog-post-preview {
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: calc(var(--edifice-body-line-height) * 2.5em);
  text-overflow: ellipsis;
  overflow: hidden;
}

@supports (-webkit-line-clamp: 2) {
  .blog-post-preview {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: none;
  }
}
