<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React</title>
    <link rel="icon" id="favicon" href="" />
    <!-- <link rel="stylesheet" href="/assets/themes/edifice-bootstrap/index.css?v=70d5a584" /> -->
    <script type="module" crossorigin src="/blog/public/index-DQe9LpDj.js"></script>
    <link rel="stylesheet" crossorigin href="/blog/public/index-BINzUjC4.css">
  </head>
  <body class="app-react" data-ode-app>
    <div id="root"></div>
    <div id="portal"></div>
  </body>
</html>
