{
    "name": "{{ blogVersion }}",
    "config": {
        "main": "org.entcore.blog.Blog",
        {% if csrfToken %}"csrf-token": true,{% endif %}
        "port": 8018,
        "auto-redeploy": false,
        "ssl": true,
        "blog-search-word-min-size" : 3,
        {% if overrideTheme %} "override-theme": {}, {% endif %}
        "app-name": "Blog",
        "app-address": "/blog",
        "app-type" : "END_USER",
        "host": "https://{{ host }}",
        "userbook-host": "https://{{ host }}",
        "mode": "prod",
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": 2
                },
                "LIBELLE_SERVICE": {
                    "default": "PRODUCTION_COLLABORATIVE"
                }
            }
        }
    }
}